@model PaginatedList<RentalKendaraan_101.Models.Custumer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Custumers", FormMethod.Get))
{
    <p>
        Nama : @Html.DropDownList("ktsd", "Pilih Nama")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Nama Customer
                </a>
            </th>
            <th>
                @Html.DisplayName("Nik")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("No HP")
            </th>
            <th>
                @Html.DisplayName("Jenis Kelamin")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaCutumer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenderNavigation.IdGender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCustumer">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCustumer">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCustumer">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "Disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "Disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-currentFilter="@ViewData["CurretFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   asp-route-currentFilter="@ViewData["CurretFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>